/* screen - project-details-3 */

.project-details-3 {
  background-color: var(--white);
  height: 2120px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.project-details-3 .rectangle-731-Ug8oK3 {
  background-color: var(--congress-blue);
  height: 2120px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.project-details-3 .dashboard-Ug8oK3 {
  background-color: transparent;
  height: 2120px;
  left: 0px;
  position: absolute;
  top: -5px;
  width: 1920px;
}

.project-details-3 .group-1272-D2VQo5 {
  background-color: transparent;
  height: calc(100.00% - 1121px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 150px;
  width: 100%;
}

.project-details-3 .rectangle-732-D2VQo5 {
  background-color: var(--congress-blue);
  height: 100%;
  left: 0px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .enlargement-project-project-details-D2VQo5 {
  background-color: transparent;
  height: calc(100.00% - 2076px);
  left: 1216px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 201px;
  white-space: nowrap;
  width: calc(100.00% - 1314px);
}

.project-details-3 .template-Ug8oK3 {
  background-color: transparent;
  height: 1500px;
  left: 167px;
  position: absolute;
  top: 355px;
  width: 1586px;
}

.project-details-3 .path-1472-in7Yrf {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1px);
}

.project-details-3 .scrolling-gallery-in7Yrf {
  background-color: transparent;
  bottom: 74px;
  height: 474px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.project-details-3 .gallery-of-student-work-FKrWak {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  color: var(--madison);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: calc(50.00% - 200px);
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 400px;
}

.project-details-3 .scrolling-gallery-of-student-work-FKrWak {
  background-color: transparent;
  bottom: 0px;
  height: 406px;
  left: 0px;
  position: absolute;
  width: 1586px;
}

.project-details-3 .rectangle-729-g0VRsi {
  background-color: var(--madison);
  box-shadow: 0px 12px 24px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .scroll-group-1-g0VRsi::-webkit-scrollbar {
  display: none;
  width: 0;
}

.project-details-3 .scroll-group-1-g0VRsi {
  background-color: transparent;
  height: 300px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 150px);
  width: 1586px;
}

.project-details-3 .group-1489-cTHxrk {
  background-color: transparent;
  height: 300px;
  left: -440px;
  position: relative;
  top: 0px;
  width: 1720px;
}

.project-details-3 .group-1491-rAJtwI {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 860px);
  position: relative;
  top: 0px;
  width: 1720px;
}

.project-details-3 .mask-group-1284-qlD61B {
  background-color: transparent;
  height: 100%;
  left: 1320px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1320px);
}

.project-details-3 .mask-group-1283-qlD61B {
  background-color: transparent;
  height: 100%;
  left: 880px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1320px);
}

.project-details-3 .mask-group-1278-qlD61B {
  background-color: transparent;
  height: 100%;
  left: 440px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1320px);
}

.project-details-3 .mask-group-1275-qlD61B {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1320px);
}

.project-details-3 .materials-cards-in7Yrf {
  background-color: transparent;
  height: 550px;
  left: calc(50.00% - 730px);
  position: absolute;
  top: calc(39.11% - 215px);
  width: 1460px;
}

.project-details-3 .group-1490-cQn2KK {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 730px);
  position: relative;
  top: 0px;
  width: 1460px;
}

.project-details-3 .lesson-materials-o9TcTi {
  background-color: transparent;
  height: 550px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 275px);
  width: 440px;
}

.project-details-3 .rectangle-702-0cqMSx {
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 0px 12px 24px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .teacher-resources-0cqMSx {
  background-color: transparent;
  color: var(--jade);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: 36px;
  position: absolute;
  right: calc(49.38% - 137px);
  text-align: left;
  top: 229px;
  white-space: nowrap;
  width: 278px;
}

.project-details-3 .timeline-learning-ou-0cqMSx {
  background-color: transparent;
  bottom: calc(11.44% - 26px);
  cursor: pointer;
  height: 231px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 58px);
}

.project-details-3 .group-1280-0cqMSx {
  background-color: transparent;
  height: calc(100.00% - 370px);
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: calc(100.00% - 60px);
}

.project-details-3 .group-1520-0cqMSx {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  left: calc(48.97% - 73px);
  position: absolute;
  top: 484px;
  width: 150px;
}

.project-details-3 .rectangle-712-m2apWy {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 12px 24px #00000086;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .print-all-m2apWy {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: calc(47.83% - 50px);
  text-align: left;
  top: calc(30.00% - 10px);
  white-space: nowrap;
  width: 104px;
}

.project-details-3 .student-materials-o9TcTi {
  background-color: transparent;
  height: 550px;
  position: absolute;
  right: 510px;
  top: calc(50.00% - 275px);
  width: 440px;
}

.project-details-3 .rectangle-702-dSvpw6 {
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 0px 12px 24px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .mask-group-1273-dSvpw6 {
  background-color: transparent;
  height: calc(100.00% - 370px);
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: calc(100.00% - 60px);
}

.project-details-3 .activity-guide-video-dSvpw6 {
  background-color: transparent;
  bottom: calc(11.44% - 26px);
  height: 231px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 58px);
}

.project-details-3 .group-1521-dSvpw6 {
  background-color: transparent;
  height: 40px;
  left: calc(50.00% - 132px);
  position: absolute;
  top: 484px;
  width: 264px;
}

.project-details-3 .rectangle-712-5ywX17 {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 12px 24px #00000086;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .link-for-students-5ywX17 {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: calc(47.83% - 104px);
  text-align: left;
  top: calc(30.00% - 10px);
  white-space: nowrap;
  width: 218px;
}

.project-details-3 .supply-list-o9TcTi {
  background-color: transparent;
  height: 550px;
  position: absolute;
  right: 1020px;
  top: calc(50.00% - 275px);
  width: 440px;
}

.project-details-3 .rectangle-702-Vd2GpL {
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 0px 12px 24px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .supplies-Vd2GpL {
  background-color: transparent;
  color: var(--fire-bush);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: calc(44.11% - 56px);
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 229px;
  white-space: nowrap;
  width: 126px;
}

.project-details-3 .mask-group-1273-Vd2GpL {
  background-color: transparent;
  height: calc(100.00% - 370px);
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: calc(100.00% - 60px);
}

.project-details-3 .graph-paper-rulers-c-Vd2GpL {
  background-color: transparent;
  bottom: calc(28.30% - 44px);
  height: 156px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 58px);
}

.project-details-3 .group-1522-Vd2GpL {
  background-color: transparent;
  height: 40px;
  left: calc(50.00% - 59px);
  position: absolute;
  top: 484px;
  width: 118px;
}

.project-details-3 .rectangle-712-36TTG2 {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 12px 24px #00000086;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .order-36TTG2 {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: calc(47.83% - 34px);
  text-align: left;
  top: calc(30.00% - 10px);
  white-space: nowrap;
  width: 72px;
}

.project-details-3 .project-details-in7Yrf {
  background-color: transparent;
  height: 163px;
  left: 61px;
  position: absolute;
  top: 179px;
  width: 1462px;
}

.project-details-3 .rectangle-717-xXrCka {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 6px 12px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .project-details-xXrCka {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 44px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 212px;
}

.project-details-3 .name-text-xXrCka {
  background-color: transparent;
  bottom: calc(47.06% - 21px);
  cursor: pointer;
  height: 44px;
  left: 44px;
  position: absolute;
  width: 515px;
}

.project-details-3 .rectangle-718-ym39J8 {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .the-enlargement-project-ym39J8 {
  background-color: transparent;
  border: 0;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: calc(100.00% - 4px);
  left: 0px;
  line-height: 25px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 358px;
}

.project-details-3 .the-enlargement-project-ym39J8::placeholder {
  color: #00000099;
}

.project-details-3 .description-xXrCka {
  background-color: transparent;
  bottom: 9px;
  height: 44px;
  left: 44px;
  position: absolute;
  width: 515px;
}

.project-details-3 .rectangle-721-XTYFi4 {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .students-take-an-everyday-object-XTYFi4 {
  background-color: transparent;
  border: 0;
  bottom: 1px;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 0px;
  line-height: 25px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 507px;
}

.project-details-3 .students-take-an-everyday-object-XTYFi4::placeholder {
  color: #00000099;
}

.project-details-3 .grade-drop-down-xXrCka {
  background-color: transparent;
  bottom: calc(47.06% - 21px);
  height: 44px;
  position: absolute;
  right: calc(42.11% - 165px);
  width: 391px;
}

.project-details-3 .rectangle-720-8mxj8o {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .grade-7th-8mxj8o {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 0px;
  line-height: 25px;
  opacity: 1.0;
  position: absolute;
  text-align: left;
  top: calc(237.50% - 95px);
  white-space: nowrap;
  width: 163px;
}

.project-details-3 .math-topic-xXrCka {
  background-color: transparent;
  bottom: 9px;
  height: 44px;
  position: absolute;
  right: calc(42.11% - 165px);
  width: 391px;
}

.project-details-3 .rectangle-722-VGIbr4 {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .geometry-VGIbr4 {
  background-color: transparent;
  bottom: -6px;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 0px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 143px;
}

.project-details-3 .key-words-xXrCka {
  background-color: transparent;
  bottom: 56px;
  height: 44px;
  position: absolute;
  right: calc(1.40% - 5px);
  width: 391px;
}

.project-details-3 .rectangle-723-3XwZYZ {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .building-3XwZYZ {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: calc(1.85% - 2px);
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: calc(162.50% - 65px);
  white-space: nowrap;
  width: 120px;
}

.project-details-3 .interests-xXrCka {
  background-color: transparent;
  bottom: 10px;
  height: 44px;
  position: absolute;
  right: calc(1.40% - 5px);
  width: 391px;
}

.project-details-3 .rectangle-724-ZL5cVS {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .hands-on-some-digital-ZL5cVS {
  background-color: transparent;
  bottom: -6px;
  color: var(--black);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: calc(15.62% - 56px);
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 359px;
}

.project-details-3 .copy-button-in7Yrf {
  background-color: transparent;
  cursor: pointer;
  height: 62px;
  left: calc(4.44% - 6px);
  position: absolute;
  top: 45px;
  width: 146px;
}

.project-details-3 .rectangle-712-BjzP2C {
  background-color: var(--congress-blue);
  border-radius: 15px;
  box-shadow: 0px 12px 24px #00000086;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .save-it-BjzP2C {
  background-color: transparent;
  bottom: calc(40.91% - 16px);
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: 36px;
  position: absolute;
  right: calc(47.83% - 48px);
  text-align: left;
  white-space: nowrap;
  width: 100px;
}

.project-details-3 .the-enlargement-project-in7Yrf {
  -webkit-text-stroke: 0.5px var(--jade);
  background-color: transparent;
  height: 100px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: calc(49.77% - 469px);
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: 942px;
}

.project-details-3 .interests-in7Yrf {
  background-color: transparent;
  bottom: 1333px;
  height: 44px;
  position: absolute;
  right: calc(49.93% - 408px);
  width: 817px;
}

.project-details-3 .rectangle-724-70PRcJ {
  background-color: var(--white);
  height: 100%;
  left: 126px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 426px);
}

.project-details-3 .author-michelle-silv-70PRcJ {
  background-color: transparent;
  bottom: -6px;
  color: var(--black);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 0px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 819px;
}

.project-details-3 .user-profile-Ug8oK3 {
  background-color: transparent;
  height: 175px;
  left: 10px;
  position: absolute;
  top: 174px;
  width: 539px;
}

.project-details-3 .position-name-55tcET {
  background-color: transparent;
  bottom: calc(26.53% - 7px);
  height: 28px;
  left: 39px;
  position: absolute;
  width: 87px;
}

.project-details-3 .teacher-KmHb2X {
  background-color: transparent;
  height: 107.14%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7.14%;
  white-space: nowrap;
  width: 102.30%;
}

.project-details-3 .profile-pic-55tcET {
  background-color: transparent;
  height: 100px;
  left: 30px;
  position: absolute;
  top: 5px;
  width: 100px;
}

.project-details-3 .profile-pic-S4cVHx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .user-name-55tcET {
  background-color: transparent;
  height: 73px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 389px;
}

.project-details-3 .michelle-silva-golding-FM5gk2 {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  height: 75px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100.51%;
}

.project-details-3 .district-name-55tcET {
  background-color: transparent;
  height: 42px;
  position: absolute;
  right: calc(46.62% - 120px);
  top: calc(31.58% - 13px);
  width: 258px;
}

.project-details-3 .bay-area-unified-school-district-57EgLn {
  background-color: transparent;
  height: 44px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100.78%;
}

.project-details-3 .interests-55tcET {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: 27px;
  top: calc(45.45% - 10px);
  width: 362px;
}

.project-details-3 .games-sports-music7th-grade-geometry-kLP9Jr {
  background-color: transparent;
  height: 109.52%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  top: 7.14%;
  white-space: nowrap;
  width: 100.55%;
}

.project-details-3 .sheher-55tcET {
  background-color: transparent;
  bottom: -2px;
  height: 41px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  width: 128px;
}

.project-details-3 .header-Ug8oK3 {
  background-color: transparent;
  height: 150px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.project-details-3 .profile-details-gallery-gg3n4V {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .rectangle-669-z1cRBR {
  background: linear-gradient(359.31deg, #0c2246 6.45%, #16438f 91.03%);
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.project-details-3 .logo-gg3n4V {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 45px);
  left: 26px;
  position: absolute;
  top: 15px;
  width: 897px;
}

.project-details-3 .d-GYdxPs {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: 68px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 10px;
  transform: rotate(-2.00deg);
  white-space: nowrap;
  width: 38px;
}

.project-details-3 .m-GYdxPs {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: 68px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 799px;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: 53px;
}

.project-details-3 .p-GYdxPs {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: -10px;
  height: 68px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 809px;
  text-align: left;
  transform: rotate(2.00deg);
  white-space: nowrap;
  width: 36px;
}

.project-details-3 .m-DMsz9d {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: -10px;
  height: 68px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 53px;
}

.project-details-3 .do-GYdxPs {
  -webkit-text-stroke: 2px var(--fire-bush);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 682px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 89px;
}

.project-details-3 .more-GYdxPs {
  -webkit-text-stroke: 2px var(--vin-rouge);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 488px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 182px;
}

.project-details-3 .math-GYdxPs {
  -webkit-text-stroke: 2px var(--jade);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 295px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 181px;
}

.project-details-3 .projects-GYdxPs {
  -webkit-text-stroke: 1px var(--grape);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 285px;
}

.project-details-3 .nav-bar-gg3n4V {
  background-color: transparent;
  height: 40px;
  position: absolute;
  right: 20px;
  top: calc(50.00% - 20px);
  width: 861px;
}

.project-details-3 .search-zFf26p {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 20px);
  width: 146px;
}

.project-details-3 .group-1508-GU8dBN {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.project-details-3 .menu-item-DXeZEh {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .rectangle-736-xHGnLA {
  background-color: var(--madison);
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 146px;
}

.project-details-3 .search-xHGnLA {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  height: calc(100.00% - 10px);
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 76px;
}

.project-details-3 .icon-search-DXeZEh {
  background-color: transparent;
  bottom: 1px;
  height: 32px;
  position: absolute;
  right: 4px;
  width: 32px;
}

.project-details-3 .icon-search-K4fps2 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 2px);
}

.project-details-3 .publish-zFf26p {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(30.42% - 46px);
  top: 0px;
  width: 151px;
}

.project-details-3 .group-1507-uxQ24i {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.project-details-3 .menu-item-erbQDT {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .rectangle-736-wLOFZ5 {
  background-color: var(--madison);
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 151px;
}

.project-details-3 .publish-wLOFZ5 {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  height: calc(100.00% - 10px);
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 81px;
}

.project-details-3 .drop-down-arrow-closed-erbQDT {
  background-color: transparent;
  bottom: calc(45.78% - 9px);
  height: 20px;
  position: absolute;
  right: 18px;
  width: 16px;
}

.project-details-3 .path-1244-buftL3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.project-details-3 .collaborate-zFf26p {
  background-color: transparent;
  height: 40px;
  left: calc(34.48% - 67px);
  position: absolute;
  top: calc(50.00% - 20px);
  width: 194px;
}

.project-details-3 .group-1506-CdwVVZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.project-details-3 .menu-item-h4mQQP {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .rectangle-736-p5Ynx7 {
  background-color: var(--madison);
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 194px;
}

.project-details-3 .collaborate-p5Ynx7 {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  height: calc(100.00% - 10px);
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 124px;
}

.project-details-3 .drop-down-arrow-closed-h4mQQP {
  background-color: transparent;
  bottom: calc(45.78% - 9px);
  height: 20px;
  position: absolute;
  right: 21px;
  width: 16px;
}

.project-details-3 .path-1244-bQUYpc {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.project-details-3 .projects-drop-down-zFf26p {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.project-details-3 .projects-xrqni3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 160px;
}

.project-details-3 .menu-item-9GIxeO {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .rectangle-736-Ad3gFx {
  background-color: var(--madison);
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.project-details-3 .projects-Ad3gFx {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  height: calc(100.00% - 10px);
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 90px;
}

.project-details-3 .drop-down-arrow-closed-9GIxeO {
  background-color: transparent;
  bottom: calc(45.78% - 9px);
  height: 20px;
  position: absolute;
  right: 22px;
  width: 16px;
}

.project-details-3 .path-1244-FRgxcV {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.project-details-3 .footer-Ug8oK3 {
  background-color: transparent;
  height: 185px;
  left: 0px;
  position: absolute;
  top: 1933px;
  width: 1920px;
}

.project-details-3 .rectangle-669-CkxXL6 {
  background: linear-gradient(359.44deg, #0c2246 4.44%, #16438f 93.06%);
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-3 .logo-CkxXL6 {
  background-color: transparent;
  bottom: 38px;
  height: 105px;
  left: 31px;
  position: absolute;
  width: 897px;
}

.project-details-3 .small-logo-S7p267 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 96px;
}

.project-details-3 .d-b4xOqD {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: 68px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 10px;
  transform: rotate(-2.00deg);
  white-space: nowrap;
  width: 38px;
}

.project-details-3 .m-b4xOqD {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: 68px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: 53px;
}

.project-details-3 .p-b4xOqD {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: -10px;
  height: 68px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 10px;
  text-align: left;
  transform: rotate(2.00deg);
  white-space: nowrap;
  width: 36px;
}

.project-details-3 .m-cFJaX8 {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: -10px;
  height: 68px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 53px;
}

.project-details-3 .do-S7p267 {
  -webkit-text-stroke: 2px var(--fire-bush);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 682px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 89px;
}

.project-details-3 .more-S7p267 {
  -webkit-text-stroke: 2px var(--vin-rouge);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 488px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 182px;
}

.project-details-3 .math-S7p267 {
  -webkit-text-stroke: 2px var(--jade);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 295px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 181px;
}

.project-details-3 .projects-S7p267 {
  -webkit-text-stroke: 2px var(--purple-plum);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 285px;
}

.project-details-3 .component-128-5-CkxXL6 {
  background-color: transparent;
  bottom: calc(24.84% - 7px);
  height: 28px;
  position: absolute;
  right: 111px;
  width: 702px;
}

.project-details-3 .search-TGl0ec {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  bottom: 7.14%;
  height: 30px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: -2px;
  text-align: left;
  white-space: nowrap;
  width: 76px;
}

.project-details-3 .news-TGl0ec {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  bottom: 7.14%;
  height: 30px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: 214px;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}

.project-details-3 .about-TGl0ec {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  bottom: 7.14%;
  height: 30px;
  left: calc(35.11% - 23px);
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 66px;
}

.project-details-3 .contact-TGl0ec {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  bottom: 7.14%;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 86px;
}

.project-details-3 .add-student-materials-Ug8oK3 {
  -webkit-text-stroke: 0.5px var(--vin-rouge);
  background-color: transparent;
  color: var(--vin-rouge);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 800px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 956px;
  white-space: nowrap;
  width: auto;
}
