/* screen - project-details-1 */

.project-details-1 {
  background-color: transparent;
  cursor: pointer;
  height: 2120px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

#overlay-project-details-1 {
  background-color: transparent;
}

.overlay .project-details-1 {
  background-color: #00000000;
}

#overlay-project-details-1 .project-details-1 {
  left: -545px;
  top: -155px;
}

#overlay-project-details-1 .container-center-horizontal {
  justify-content: normal;
}

.project-details-1 .rectangle-731-ezltAg {
  background-color: var(--congress-blue);
  height: 2120px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.project-details-1 .dashboard-ezltAg {
  background-color: transparent;
  height: 175px;
  left: 10px;
  position: absolute;
  top: 174px;
  width: 1812px;
}

.project-details-1 .enlargement-project-project-details-zL9KxF {
  background-color: transparent;
  height: calc(100.00% - 131px);
  left: 1206px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: calc(100.00% - 1204px);
}

.project-details-1 .user-profile-zL9KxF {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 539px;
}

.project-details-1 .position-name-cCJnpd {
  background-color: transparent;
  bottom: calc(26.53% - 7px);
  height: 28px;
  left: 39px;
  position: absolute;
  width: 87px;
}

.project-details-1 .teacher-DW3bdi {
  background-color: transparent;
  height: 107.14%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 7.14%;
  white-space: nowrap;
  width: 102.30%;
}

.project-details-1 .profile-pic-cCJnpd {
  background-color: transparent;
  height: 100px;
  left: 30px;
  position: absolute;
  top: 5px;
  width: 100px;
}

.project-details-1 .profile-pic-xGFoLh {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .user-name-cCJnpd {
  background-color: transparent;
  height: 73px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 389px;
}

.project-details-1 .michelle-silva-golding-ygud1J {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  height: 75px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100.51%;
}

.project-details-1 .district-name-cCJnpd {
  background-color: transparent;
  height: 42px;
  position: absolute;
  right: calc(46.62% - 120px);
  top: calc(31.58% - 13px);
  width: 258px;
}

.project-details-1 .bay-area-unified-school-district-5O7OX6 {
  background-color: transparent;
  height: 44px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100.78%;
}

.project-details-1 .interests-cCJnpd {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: 27px;
  top: calc(45.45% - 10px);
  width: 362px;
}

.project-details-1 .games-sports-music7th-grade-geometry-VuayAW {
  background-color: transparent;
  height: 109.52%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  top: 7.14%;
  white-space: nowrap;
  width: 100.55%;
}

.project-details-1 .sheher-cCJnpd {
  background-color: transparent;
  bottom: -2px;
  height: 41px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  width: 128px;
}

.project-details-1 .template-ezltAg {
  background-color: transparent;
  height: 1526px;
  left: 167px;
  position: absolute;
  top: 355px;
  width: 1586px;
}

.project-details-1 .path-1472-15a8rf {
  background-color: transparent;
  height: calc(100.00% - 26px);
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1px);
}

.project-details-1 .scrolling-gallery-15a8rf {
  background-color: transparent;
  bottom: 0px;
  height: 574px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.project-details-1 .scrolling-gallery-of-student-work-dW32Hw {
  background-color: transparent;
  bottom: 0px;
  height: 518px;
  left: 0px;
  position: absolute;
  width: 1586px;
}

.project-details-1 .rectangle-729-p1eVl3 {
  background-color: var(--madison);
  box-shadow: 0px 12px 24px #00000029;
  height: calc(100.00% - 112px);
  left: 0px;
  position: absolute;
  top: 20px;
  width: 100%;
}

.project-details-1 .scroll-group-1-p1eVl3::-webkit-scrollbar {
  display: none;
  width: 0;
}

.project-details-1 .scroll-group-1-p1eVl3 {
  background-color: transparent;
  height: 300px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  right: 0px;
  top: calc(33.28% - 100px);
  width: 1586px;
}

.project-details-1 .group-1489-wEnpDa {
  background-color: transparent;
  height: 300px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1720px;
}

.project-details-1 .group-1491-CqSAQ5 {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 860px);
  position: relative;
  top: 0px;
  width: 1720px;
}

.project-details-1 .mask-group-1283-MwxfMr {
  background-color: transparent;
  height: 100%;
  left: 1320px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1320px);
}

.project-details-1 .mask-group-1278-MwxfMr {
  background-color: transparent;
  height: 100%;
  left: 880px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1320px);
}

.project-details-1 .mask-group-1275-MwxfMr {
  background-color: transparent;
  height: 100%;
  left: 440px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1320px);
}

.project-details-1 .mask-group-1277-MwxfMr {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1320px);
}

.project-details-1 .gallery-of-student-work-dW32Hw {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  color: var(--madison);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: calc(50.00% - 200px);
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 400px;
}

.project-details-1 .materials-cards-15a8rf {
  background-color: transparent;
  height: 550px;
  left: calc(50.00% - 730px);
  position: absolute;
  top: calc(38.07% - 209px);
  width: 1460px;
}

.project-details-1 .material-cards-group-agjqXT {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 730px);
  position: relative;
  top: 0px;
  width: 1460px;
}

.project-details-1 .lesson-materials-KkS5lP {
  background-color: transparent;
  height: 550px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 275px);
  width: 440px;
}

.project-details-1 .rectangle-702-wMfHFd {
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 0px 12px 24px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .teacher-resources-wMfHFd {
  background-color: transparent;
  color: var(--jade);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: 36px;
  position: absolute;
  right: calc(49.38% - 137px);
  text-align: left;
  top: 229px;
  white-space: nowrap;
  width: 278px;
}

.project-details-1 .timeline-learning-ou-wMfHFd {
  background-color: transparent;
  bottom: calc(11.44% - 26px);
  cursor: pointer;
  height: 231px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 58px);
}

.project-details-1 .group-1280-wMfHFd {
  background-color: transparent;
  height: calc(100.00% - 370px);
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: calc(100.00% - 60px);
}

.project-details-1 .group-1520-wMfHFd {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  left: calc(48.97% - 73px);
  position: absolute;
  top: 484px;
  width: 150px;
}

.project-details-1 .rectangle-712-TLBJR1 {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 12px 24px #00000086;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .print-all-TLBJR1 {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: calc(47.83% - 50px);
  text-align: left;
  top: calc(30.00% - 10px);
  white-space: nowrap;
  width: 104px;
}

.project-details-1 .student-materials-KkS5lP {
  background-color: transparent;
  height: 550px;
  position: absolute;
  right: 510px;
  top: calc(50.00% - 275px);
  width: 440px;
}

.project-details-1 .rectangle-702-3SyQCx {
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 0px 12px 24px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .mask-group-1273-3SyQCx {
  background-color: transparent;
  height: calc(100.00% - 370px);
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: calc(100.00% - 60px);
}

.project-details-1 .activity-guide-video-3SyQCx {
  background-color: transparent;
  bottom: calc(11.44% - 26px);
  height: 231px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 58px);
}

.project-details-1 .group-1521-3SyQCx {
  background-color: transparent;
  height: 40px;
  left: calc(50.00% - 132px);
  position: absolute;
  top: 484px;
  width: 264px;
}

.project-details-1 .rectangle-712-3Dneqs {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 12px 24px #00000086;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .link-for-students-3Dneqs {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: calc(47.83% - 104px);
  text-align: left;
  top: calc(30.00% - 10px);
  white-space: nowrap;
  width: 218px;
}

.project-details-1 .student-materials-3SyQCx {
  -webkit-text-stroke: 0.5px var(--vin-rouge);
  background-color: transparent;
  color: var(--vin-rouge);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: 36px;
  position: absolute;
  right: calc(49.45% - 128px);
  text-align: left;
  top: 226px;
  white-space: nowrap;
  width: 258px;
}

.project-details-1 .supply-list-KkS5lP {
  background-color: transparent;
  height: 550px;
  position: absolute;
  right: 1020px;
  top: calc(50.00% - 275px);
  width: 440px;
}

.project-details-1 .rectangle-702-7YN1rO {
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 0px 12px 24px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .supplies-7YN1rO {
  background-color: transparent;
  color: var(--fire-bush);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: calc(44.11% - 56px);
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 229px;
  white-space: nowrap;
  width: 126px;
}

.project-details-1 .mask-group-1273-7YN1rO {
  background-color: transparent;
  height: calc(100.00% - 370px);
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: calc(100.00% - 60px);
}

.project-details-1 .graph-paper-rulers-c-7YN1rO {
  background-color: transparent;
  bottom: calc(28.30% - 44px);
  height: 156px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 58px);
}

.project-details-1 .group-1522-7YN1rO {
  background-color: transparent;
  height: 40px;
  left: calc(50.00% - 59px);
  position: absolute;
  top: 484px;
  width: 118px;
}

.project-details-1 .rectangle-712-TqgxNR {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 12px 24px #00000086;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .order-TqgxNR {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: calc(47.83% - 34px);
  text-align: left;
  top: calc(30.00% - 10px);
  white-space: nowrap;
  width: 72px;
}

.project-details-1 .project-details-15a8rf {
  background-color: transparent;
  height: 163px;
  left: 61px;
  position: absolute;
  top: 179px;
  width: 1462px;
}

.project-details-1 .rectangle-717-GQllpP {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 6px 12px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .project-details-GQllpP {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 44px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 212px;
}

.project-details-1 .name-text-GQllpP {
  background-color: transparent;
  bottom: calc(47.06% - 21px);
  cursor: pointer;
  height: 44px;
  left: 44px;
  position: absolute;
  width: 515px;
}

.project-details-1 .rectangle-718-zncNjp {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .the-enlargement-project-zncNjp {
  background-color: transparent;
  border: 0;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: calc(100.00% - 4px);
  left: 0px;
  line-height: 25px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 358px;
}

.project-details-1 .the-enlargement-project-zncNjp::placeholder {
  color: #00000099;
}

.project-details-1 .description-GQllpP {
  background-color: transparent;
  bottom: 9px;
  height: 44px;
  left: 44px;
  position: absolute;
  width: 515px;
}

.project-details-1 .rectangle-721-gfPk62 {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .students-take-an-everyday-object-gfPk62 {
  background-color: transparent;
  border: 0;
  bottom: 1px;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 0px;
  line-height: 25px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 507px;
}

.project-details-1 .students-take-an-everyday-object-gfPk62::placeholder {
  color: #00000099;
}

.project-details-1 .grade-drop-down-GQllpP {
  background-color: transparent;
  bottom: calc(47.06% - 21px);
  height: 44px;
  position: absolute;
  right: calc(42.11% - 165px);
  width: 391px;
}

.project-details-1 .rectangle-720-JURyFR {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .grade-7th-JURyFR {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 0px;
  line-height: 25px;
  opacity: 1.0;
  position: absolute;
  text-align: left;
  top: calc(237.50% - 95px);
  white-space: nowrap;
  width: 163px;
}

.project-details-1 .math-topic-GQllpP {
  background-color: transparent;
  bottom: 9px;
  height: 44px;
  position: absolute;
  right: calc(42.11% - 165px);
  width: 391px;
}

.project-details-1 .rectangle-722-hEvpi2 {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .geometry-hEvpi2 {
  background-color: transparent;
  bottom: -6px;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 0px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 143px;
}

.project-details-1 .key-words-GQllpP {
  background-color: transparent;
  bottom: 56px;
  height: 44px;
  position: absolute;
  right: calc(1.40% - 5px);
  width: 391px;
}

.project-details-1 .rectangle-723-Rac12P {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .building-Rac12P {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: calc(1.85% - 2px);
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: calc(162.50% - 65px);
  white-space: nowrap;
  width: 120px;
}

.project-details-1 .interests-GQllpP {
  background-color: transparent;
  bottom: 10px;
  height: 44px;
  position: absolute;
  right: calc(1.40% - 5px);
  width: 391px;
}

.project-details-1 .rectangle-724-Axzm7u {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .hands-on-some-digital-Axzm7u {
  background-color: transparent;
  bottom: -6px;
  color: var(--black);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: calc(15.62% - 56px);
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 359px;
}

.project-details-1 .author-paula-de-gallo-connect-with-paula-15a8rf {
  background-color: transparent;
  bottom: 1354px;
  color: var(--black);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: 25px;
  position: absolute;
  right: calc(48.81% - 325px);
  text-align: left;
  white-space: nowrap;
  width: 665px;
}

.project-details-1 .copy-button-15a8rf {
  background-color: transparent;
  cursor: pointer;
  height: 62px;
  left: calc(4.45% - 7px);
  position: absolute;
  top: 45px;
  width: 149px;
}

.project-details-1 .rectangle-712-lI2Sq2 {
  background-color: var(--congress-blue);
  border-radius: 15px;
  box-shadow: 0px 12px 24px #00000086;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .copy-it-lI2Sq2 {
  background-color: transparent;
  bottom: calc(40.91% - 16px);
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: 36px;
  position: absolute;
  right: calc(47.83% - 49px);
  text-align: left;
  white-space: nowrap;
  width: 103px;
}

.project-details-1 .the-enlargement-project-15a8rf {
  -webkit-text-stroke: 0.5px var(--jade);
  background-color: transparent;
  height: 100px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: calc(49.77% - 469px);
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: 942px;
}

.project-details-1 .header-ezltAg {
  background-color: transparent;
  height: 150px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.project-details-1 .profile-details-gallery-RMnFCA {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .rectangle-669-dKQnT5 {
  background: linear-gradient(359.31deg, #0c2246 6.45%, #16438f 91.03%);
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.project-details-1 .logo-RMnFCA {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 45px);
  left: 26px;
  position: absolute;
  top: 15px;
  width: 897px;
}

.project-details-1 .d-3KulKd {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: 68px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 10px;
  transform: rotate(-2.00deg);
  white-space: nowrap;
  width: 38px;
}

.project-details-1 .m-3KulKd {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: 68px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 799px;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: 53px;
}

.project-details-1 .p-3KulKd {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: -10px;
  height: 68px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 809px;
  text-align: left;
  transform: rotate(2.00deg);
  white-space: nowrap;
  width: 36px;
}

.project-details-1 .m-O6itz0 {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: -10px;
  height: 68px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 53px;
}

.project-details-1 .do-3KulKd {
  -webkit-text-stroke: 2px var(--fire-bush);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 682px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 89px;
}

.project-details-1 .more-3KulKd {
  -webkit-text-stroke: 2px var(--vin-rouge);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 488px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 182px;
}

.project-details-1 .math-3KulKd {
  -webkit-text-stroke: 2px var(--jade);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 295px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 181px;
}

.project-details-1 .projects-3KulKd {
  -webkit-text-stroke: 1px var(--grape);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 285px;
}

.project-details-1 .nav-bar-RMnFCA {
  background-color: transparent;
  height: 40px;
  position: absolute;
  right: 20px;
  top: calc(50.00% - 20px);
  width: 861px;
}

.project-details-1 .search-FT0uZT {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 20px);
  width: 146px;
}

.project-details-1 .group-1508-AngA8o {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.project-details-1 .menu-item-VROElB {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .rectangle-736-9TqXie {
  background-color: var(--madison);
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 146px;
}

.project-details-1 .search-9TqXie {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  height: calc(100.00% - 10px);
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 76px;
}

.project-details-1 .icon-search-VROElB {
  background-color: transparent;
  bottom: 1px;
  height: 32px;
  position: absolute;
  right: 4px;
  width: 32px;
}

.project-details-1 .icon-search-x1eFBA {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 2px);
}

.project-details-1 .publish-FT0uZT {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(30.42% - 46px);
  top: 0px;
  width: 151px;
}

.project-details-1 .group-1507-SCjkiq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.project-details-1 .menu-item-7w3m3n {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .rectangle-736-mGjkJL {
  background-color: var(--madison);
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 151px;
}

.project-details-1 .publish-mGjkJL {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  height: calc(100.00% - 10px);
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 81px;
}

.project-details-1 .drop-down-arrow-closed-7w3m3n {
  background-color: transparent;
  bottom: calc(45.78% - 9px);
  height: 20px;
  position: absolute;
  right: 18px;
  width: 16px;
}

.project-details-1 .path-1244-MqLX9d {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.project-details-1 .collaborate-FT0uZT {
  background-color: transparent;
  height: 40px;
  left: calc(34.48% - 67px);
  position: absolute;
  top: calc(50.00% - 20px);
  width: 194px;
}

.project-details-1 .group-1506-IHS0x6 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.project-details-1 .menu-item-B8k9Nd {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .rectangle-736-2DpUdM {
  background-color: var(--madison);
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 194px;
}

.project-details-1 .collaborate-2DpUdM {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  height: calc(100.00% - 10px);
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 124px;
}

.project-details-1 .drop-down-arrow-closed-B8k9Nd {
  background-color: transparent;
  bottom: calc(45.78% - 9px);
  height: 20px;
  position: absolute;
  right: 21px;
  width: 16px;
}

.project-details-1 .path-1244-el4tf3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.project-details-1 .projects-drop-down-FT0uZT {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.project-details-1 .projects-xi3xI7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 160px;
}

.project-details-1 .menu-item-jg7kYK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .rectangle-736-rBDutN {
  background-color: var(--madison);
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.project-details-1 .projects-rBDutN {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  height: calc(100.00% - 10px);
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 90px;
}

.project-details-1 .drop-down-arrow-closed-jg7kYK {
  background-color: transparent;
  bottom: calc(45.78% - 9px);
  height: 20px;
  position: absolute;
  right: 22px;
  width: 16px;
}

.project-details-1 .path-1244-yxVk26 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.project-details-1 .footer-ezltAg {
  background-color: transparent;
  height: 185px;
  left: 0px;
  position: absolute;
  top: 1933px;
  width: 1920px;
}

.project-details-1 .rectangle-669-h2kMgl {
  background: linear-gradient(359.44deg, #0c2246 4.44%, #16438f 93.06%);
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.project-details-1 .logo-h2kMgl {
  background-color: transparent;
  bottom: 38px;
  height: 105px;
  left: 31px;
  position: absolute;
  width: 897px;
}

.project-details-1 .small-logo-NPjNMT {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 96px;
}

.project-details-1 .d-osfpFn {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: 68px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 10px;
  transform: rotate(-2.00deg);
  white-space: nowrap;
  width: 38px;
}

.project-details-1 .m-osfpFn {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: 68px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 9px;
  white-space: nowrap;
  width: 53px;
}

.project-details-1 .p-osfpFn {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: -10px;
  height: 68px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 10px;
  text-align: left;
  transform: rotate(2.00deg);
  white-space: nowrap;
  width: 36px;
}

.project-details-1 .m-q1XhH5 {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: -10px;
  height: 68px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 53px;
}

.project-details-1 .do-NPjNMT {
  -webkit-text-stroke: 2px var(--fire-bush);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 682px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 89px;
}

.project-details-1 .more-NPjNMT {
  -webkit-text-stroke: 2px var(--vin-rouge);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 488px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 182px;
}

.project-details-1 .math-NPjNMT {
  -webkit-text-stroke: 2px var(--jade);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: 295px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 181px;
}

.project-details-1 .projects-NPjNMT {
  -webkit-text-stroke: 2px var(--purple-plum);
  background-color: transparent;
  height: 90px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: calc(194.22% - 175px);
  white-space: nowrap;
  width: 285px;
}

.project-details-1 .component-128-5-h2kMgl {
  background-color: transparent;
  bottom: calc(24.84% - 7px);
  height: 28px;
  position: absolute;
  right: 111px;
  width: 702px;
}

.project-details-1 .search-7onHAh {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  bottom: 7.14%;
  height: 30px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: -2px;
  text-align: left;
  white-space: nowrap;
  width: 76px;
}

.project-details-1 .news-7onHAh {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  bottom: 7.14%;
  height: 30px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  right: 214px;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}

.project-details-1 .about-7onHAh {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  bottom: 7.14%;
  height: 30px;
  left: calc(35.11% - 23px);
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 66px;
}

.project-details-1 .contact-7onHAh {
  -webkit-text-stroke: 0.5px var(--white);
  background-color: transparent;
  bottom: 7.14%;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 86px;
}
